# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Editor / IDE configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Node / Dependency caches (if any)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
